doctype html
html(lang="en")
    head
        include partials/header

    body 
        header.barra
            h1 Administrador de Proyectos 
            a(href="/usuario/cerrar-sesion") Cerrar Sesion 
        main.contenedor 
            aside.contenedor-proyectos
                .panel.crear-proyecto 
                    a(href="/nuevo-proyecto").boton Nuevo Proyecto
                        span +

                .panel.lista-proyectos
                    h2 Proyectos
                    ul#proyectos.proyectos 
                                               
                       if (listaProyectos.length)
                            each proyecto in listaProyectos 
                                li 
                                    a(href=`/proyectos/${proyecto.dataValues.url}`)= proyecto.nombre 
                            

            block contenido