doctype html
html(lang="en")
    head
       include  partials/header
    body.login 
        .contenedor-formulario 
            h1=nombrePagina 
            p Agrega tu email para reestablecer tu password 
            if errores 
                p.error.alerta=errores.msg
            form.caja-login(action="/usuario/restablecer-password", method="POST") 
                .campo 
                    label(for="email") E-mail
                    input(type="email" name="email" placeholder="Tu Email" autocomplete="off" required) 
                 
                .campo.enviar 
                    input.boton(type="submit" value="Reestablece tu password")
                .campo.acciones 
                    a(href="/usuario/iniciar-sesion") Ya la recordaste? Ve a Login!